---
title: Kieran Hunt
---

<%= partial "header" %>

<div class="container">
  <h1>
    Kieran Hunt
  </h1>
  <hr/>
  <h2>
    Projects
  </h2>
  <div class="project">
    <h3 class="project-heading">
      /r/YouTubeHaiku → Twitter
    </h3>
    <div class="link-line">
      <%= twitter_link profile: 'rYouTubeHaiku' %>,
      <%= github_link project: { profile: 'KieranHunt', repo: 'YouTubeHaiku_to_Twitter' } %>
    </div>
    <p>
      Posting YouTube links to Twitter is not a fantastic experience. On mobile,
      Twitter clients tend to leave the Twitter app in order play the video.
      They'll either leave the app entirely, by sending the users to the YouTube
      app, or they'll show the video in browser view. This bot fixes that.
    </p>
    <p>
      This bot takes the latest hot posts from
      <%= reddit_link subreddit: 'youtubehaiku' %> and posts them to
      <%= twitter_link profile: 'rYouTubeHaiku' %> as native Twitter videos.
      This allows users to view the videos without leaving their clients.
    </p>
    <p>
      The bot is written in NodeJS and runs in an
      <%= link_to 'AWS Lambda', 'https://aws.amazon.com/lambda/' %> function. It
      uses <%= link_to 'IFTTT', 'https://ifttt.com/' %> to convert the Reddit
      feed into call's to an
      <%= link_to 'API Gateway', 'https://aws.amazon.com/api-gateway/' %>
      endpoint. It downloads the YouTube videos using
      <%= github_link project: { profile: 'rg3', repo: 'youtube-dl' } %> and
      then uploads them to Twitter's API.
    </P>
  </div>
  <div class="project">
    <h3 class="project-heading">
      South African News
    </h3>
    <div class="link-line">
      <%= website_link url: 'https://southafricanne.ws', text: 'southafricanne.ws' %>
    </div>
  </div>
  <div class="project">
    <h3 class="project-heading">
      Dead Wikipedia
    </h3>
    <div class="link-line">
      <%= twitter_link profile: 'dead_wikipedia' %>
    </div>
  </div>
  <div class="project">
    <h3 class="project-heading">
      Auto CV
    </h3>
    <div class="link-line">
      <%= website_link url: 'https://kieran.casa/autocv/', text: 'autocv' %>,
      <%= github_link project: { profile: 'KieranHunt', repo: 'autocv' } %>
    </div>
  </div>
</div>
