---
title: Kieran Hunt
---

<%= partial "header" %>

<div class="container">
  <h1>
    Kieran Hunt
  </h1>
  <hr/>
  <h2>
    Projects
  </h2>
  <div class="project">
    <h3 class="project-heading">
      /r/YouTubeHaiku → Twitter
    </h3>
    <div class="link-line">
      <%= twitter_link profile: 'rYouTubeHaiku' %>,
      <%= github_link project: { profile: 'KieranHunt', repo: 'YouTubeHaiku_to_Twitter' } %>
    </div>
  </div>
  <div class="project">
    <h3 class="project-heading">
      Dead Wikipedia
    </h3>
    <div class="link-line">
      <%= twitter_link profile: 'dead_wikipedia' %>
    </div>
  </div>
  <div class="project">
    <h3 class="project-heading">
      Auto CV
    </h3>
    <div class="link-line">
      <%= website_link url: 'https://kieran.casa/autocv/', text: 'autocv' %>
    </div>
  </div>
</div>
